h1 {
    font-size: 25px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 10px auto;
    text-align: center;
}
h2 {
    font-size: 22px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.headline {
    position: relative; 
    display: flex;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
.headline h3 {
    margin: 0; 
    padding: 10px;
    position: absolute; 
    top: 0; 
}
.headline h3:nth-child(1) {
    left: 500px; 
}
.headline h3:nth-child(2) {
    left: 900px; 
}
.headline h3:nth-child(3) {
    left: 1300px; 
}

.headline h3:nth-child(4) {
    left: 1700px; 
}
.container {
    margin: 35px auto;
}
.internalContainer {
    display: flex;
    width: 1900px;
    height: 200px;
    border: 1px black solid;
    margin: auto;
}
.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-right: 4px black solid;
}
.day span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.time {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    border-right: 4px black solid;
}

.timeSlot {
    flex: 1;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    border-bottom: 1px black solid;
}

#lastSlot {
    border: 0px;
}

.year {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    border-right: 1px black solid;
}

.year .timeSlot {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px black solid;
}


#L8 {
    border: 0px;
}

.classroom {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
    border-right: 1px black solid;
}

.grade {
    display: flex;
    flex-direction: row;
    border-right: 1px black solid;
}

#Monday {
    border-top: 4px black solid;
    border-left: 4px black solid;
    background-color: #FFBE98 ;
}
#Tuesday {
    border-left: 4px black solid;
    background-color: #FFEBB2; 
}
#Wednesday {
    border-left: 4px black solid;
    background-color: #F3D0D7; 
}
#Thursday {
    border-left: 4px black solid;
    background-color: #C0D6E8; 
}
#Friday {
    border-left: 4px black solid;
    border-bottom: 4px black solid;
    background-color: #C5EBAA; 
}

