<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <div v-if="currentView === 'menu'">
            <div class="toolbar">
                <button @click="toggleView('upload')">Upload Files</button>
                <button @click="generateSchedule">Create Schedule</button>
                <div v-for="(section, index) in sections" class="dropdown" :key="section.dataSet">
                    <button class="dropbtn">{{ section.title }}</button>
                    <div class="dropdown-content">
                        <a href="#" @click="modalData=section.dataSet; add()">Add</a>
                        <a href="#" @click="modalData=section.dataSet; edit()">Edit</a>
                        <a href="#" @click="modalData=section.dataSet; remove()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div v-if="currentView === 'upload'">
            <button @click="toggleView('menu')">Back</button> <br>
            <input type="file" @change="handleFiles" multiple>
        </div>
        <div v-if="currentView === 'schedule'">
            <button @click="toggleView('menu')">Back</button> <br>
            <table>
                <thead>
                    <tr>
                        <th>DAY</th>
                        <th>Time</th>
                        <th v-for="year in 4">Year {{ year }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="day in days" :class="day.toLowerCase()">
                        <td class="vertical-text">{{ day }}</td>
                        <td><ul v-for="time in times">
                            <li> {{time}} </li>
                        </ul></td>
                        <td v-for="(year,index) in 4" :key="`class-${year}`">
                            <ul>
                                <li v-for="time in times" :key="`time-${time}`">
                                    {{ getCourse(day, time, year) }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
