<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="design.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <h1>ANKARA YILDIRIM BEYAZIT UNIVERSITY FACULTY OF ENGINEERING AND NATURAL SCIENCES</h1>
    <h2>2023 - 2024 SPRING SEMESTER WEEKLY SCHEDULE (COMPUTER ENGINEERING DEPARTMENT)</h2>

    <div id="app">
        <button @click="toggleDisplayProgram">
            <span v-if="displayProgram"> Hide Program </span>
            <span v-if="!displayProgram"> Show Program </span>
        </button>
        <div v-if="displayProgram">
            <div class="container">
                <div v-for="(day, index) in days" :id="day"  class="internalContainer">
                    <div class="day">
                        <span>
                            {{day}}
                        </span>
                    </div>
                    <div class="time">
                        <div v-for="time in timeSlot" class="timeSlot">
                            {{time}}
                        </div>
                    </div>
                    <div v-for="item in classes" class="grade">
                        <div class="year" :id="item">
                            <div v-for="(time, index) in timeSlot" class="timeSlot" :id="day + item + index">
                                {{}}
                            </div>
                        </div>
                        <div class="classroom">
                            <div v-for="(time, index) in timeSlot" class="timeSlot" :id="day + item + index">
                                {{}}
                            </div>
                        </div> 
                    </div>                                   
                </div>
            </div>
        </div>
    </div>
    


    <script src="app.js"></script>   
</body>
</html>